# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


build/*
.DS_Store
.metadata/
.idea/
ARGoS_simulation/cmake-build-debug/
# the link is system dependend and needs to be done manual new
ARGoS_simulation/argos3
